.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 62px 16px 24px;

  background-color: var(--main-bg-color);

  @media screen and (min-with: 768px) {
    display: none;
  }
}

.mobileMenuHeaderContentBox {
  /* margin: 0; */
  margin-bottom: 28px;
  padding: 0;
}

.mobileMenuSocialsMenu {
  right: 0;
}

.mobileMenuLogo,
.mobileMenuLink {
  color: var(--primary-text-color);
}

.mobileMenuLogo:hover,
.mobileMenuLink:hover {
  color: var(--accent-color);
}

.mobileMenuLink {
  background-color: var(--mobile-menu-link-bg);
}

.mobileMenuFooter {
  margin-top: auto;
}
