.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 41px;

  font-family: "Right Grotesk Compact Black";
  text-transform: uppercase;
  color: var(--secondary-text-color);

  border: none;
  background-color: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(12px);
  border-radius: var(--border-radius-btn);
}
