.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 41px;

  text-transform: uppercase;
  color: var(--primary-text-color);

  border: none;
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
}
