.creepingLineBox {
  display: flex;
  gap: 24px;
  height: 52px;

  font-family: 'Right Grotesk Compact Black';
  font-size: 36px;

  background-color: var(--accent-color);

  overflow: hidden;

  @media screen and (min-width: 1280px) {
    gap: 36px;

    height: 86px;
    font-size: 64px;
  }
}

.creepingLineList {
  display: flex;
  gap: 24px;
  height: 100%;
  /* overflow: hidden; */

  animation-name: creepingLineT;
  animation-duration: var(--creeping-line-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @media screen and (min-width: 1280px) {
    gap: 36px;
  }
}

@keyframes creepingLine {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes creepingLineT {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
