.heroSection {
  min-height: 542px;
  padding-top: 36px;
  padding-bottom: 19px;

  color: var(--secondary-text-color);

  border-radius: var(--border-radius);
  background-color: var(--accent-color);
}

.heroContainer {
  padding: 0 67px;
}

.heroTitle {
  margin: 8px 0;

  font-family: "Right Grotesk Compact Black";
  font-weight: 900;
  font-size: 44px;
  line-height: 1;
  letter-spacing: 0.44px;
  text-align: center;
}

.heroSlogan {
  font-family: "Biro Script Plus Bold US";
  line-height: 1.69;
  text-transform: none;
  text-align: center;
}

.heroDescription {
  color: var(--secondary-text-color);
  text-align: center;
}

.heroImage {
  margin: 0 auto;
}
