.mindMapCardItem {
  display: flex;
  flex-direction: column;
  height: 242px;
  padding: 24px 12px;

  border-radius: var(--border-radius);
  background-color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    padding: 24px;
  }

  @media screen and (min-width: 1280px) {
    height: 480px;
  }
}

.mindMapCardItem.link {
  background-color: var(--accent-color);
}

.mindMapCardItem:hover .stageArrowIcon {
  transform: translate(12px, -12px);
}

.stageCaption {
  margin-top: auto;
  font-family: 'Right Grotesk Compact Black';
  font-size: 32px;

  @media screen and (min-width: 1280px) {
    font-size: 64px;
  }
}

.stageDescription {
  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: 768px) {
    padding-left: 108px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 228px;
    font-size: 24px;
    line-height: 1.2;
  }
}

.stageArrowIcon {
  width: 24px;
  height: 24px;
  margin-left: auto;

  color: var(--primary-text-color);

  transition: transform var(--timing-function) var(--transition-duration);

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 48px;
  }

  @media screen and (min-width: 1280px) {
    width: 64px;
    height: 64px;
  }
}
