/* Messina Sans Mono */
@font-face {
  font-family: "Messina Sans Mono";
  src: url("../assets/fonts/MessinaSansMono/MessinaSansMono-SemiBold.eot");
  src: local("Messina Sans Mono SemiBold"), local("MessinaSansMono-SemiBold"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-SemiBold.woff2")
      format("woff2"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-SemiBold.woff")
      format("woff"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("../assets/fonts/MessinaSansMono/MessinaSansMono-Light.eot");
  src: local("Messina Sans Mono Light"), local("MessinaSansMono-Light"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Light.woff2")
      format("woff2"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Light.woff")
      format("woff"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono Book";
  src: url("../assets/fonts/MessinaSansMono/MessinaSansMono-Book.eot");
  src: local("Messina Sans Mono Book"), local("MessinaSansMono-Book"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Book.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Book.woff2")
      format("woff2"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Book.woff")
      format("woff"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Book.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("../assets/fonts/MessinaSansMono/MessinaSansMono-Bold.eot");
  src: local("Messina Sans Mono Bold"), local("MessinaSansMono-Bold"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Bold.woff")
      format("woff"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("../assets/fonts/MessinaSansMono/MessinaSansMono-Regular.eot");
  src: local("Messina Sans Mono Regular"), local("MessinaSansMono-Regular"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Regular.woff")
      format("woff"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("../assets/fonts/MessinaSansMono/MessinaSansMono-Black.eot");
  src: local("Messina Sans Mono Black"), local("MessinaSansMono-Black"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Black.woff2")
      format("woff2"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Black.woff")
      format("woff"),
    url("../assets/fonts/MessinaSansMono/MessinaSansMono-Black.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Biro Script Plus */
@font-face {
  font-family: "Biro Script Plus Bold US";
  src: url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Bold.eot");
  src: local("Biro Script Plus Bold US"), local("BiroScriptUSPlus-Bold"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Bold.woff")
      format("woff"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Biro Script Plus";
  src: url("../assets/fonts/BiroScriptPlus/BiroScriptPlus-Bold.eot");
  src: local("Biro Script Plus Bold"), local("BiroScriptPlus-Bold"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus-Bold.woff")
      format("woff"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Biro Script Plus Sloppy";
  src: url("../assets/fonts/BiroScriptPlus/BiroScriptPlus-Sloppy.eot");
  src: local("Biro Script Plus Sloppy"), local("BiroScriptPlus-Sloppy"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus-Sloppy.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus-Sloppy.woff2")
      format("woff2"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus-Sloppy.woff")
      format("woff"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus-Sloppy.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biro Script Plus";
  src: url("../assets/fonts/BiroScriptPlus/BiroScriptPlus.eot");
  src: local("Biro Script Plus"), local("BiroScriptPlus"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus.woff2") format("woff2"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus.woff") format("woff"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptPlus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biro Script Plus Sloppy US";
  src: url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Sloppy.eot");
  src: local("Biro Script Plus Sloppy US"), local("BiroScriptUSPlus-Sloppy"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Sloppy.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Sloppy.woff2")
      format("woff2"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Sloppy.woff")
      format("woff"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Sloppy.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biro Script Plus US";
  src: url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Regular.eot");
  src: local("Biro Script Plus US"), local("BiroScriptUSPlus-Regular"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Regular.woff")
      format("woff"),
    url("../assets/fonts/BiroScriptPlus/BiroScriptUSPlus-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Right Grotesk */
@font-face {
  font-family: "Right Grotesk Compact Black";
  src: url("../assets/fonts/RightGrotesk/RightGrotesk-CompactBlack.otf");
  src: local("Right Grotesk Compact Black"), local("RightGrotesk-CompactBlack"),
    url("../assets/fonts/RightGrotesk/RightGrotesk-CompactBlack.otf?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/RightGrotesk/RightGrotesk-CompactBlack.otf")
      format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Right Grotesk Medium";
  src: url("../assets/fonts/RightGrotesk/RightGrotesk-Medium.otf")
    format("opentype");
  src: local("Right Grotesk Medium"), local("RightGrotesk-Medium"),
    url("../assets/fonts/RightGrotesk/RightGrotesk-Medium.otf?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/RightGrotesk/RightGrotesk-Medium.otf")
      format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Right Grotesk Narrow Light";
  src: url("../assets/fonts/RightGrotesk/RightGrotesk-NarrowLight.otf");
  src: local("Right Grotesk Narrow Light"), local("RightGrotesk-NarrowLight"),
    url("../assets/fonts/RightGrotesk/RightGrotesk-NarrowLight.otf?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/RightGrotesk/RightGrotesk-NarrowLight.otf")
      format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Right Grotesk Spatial Black";
  src: url("../assets/fonts/RightGrotesk/rightgrotesk-spatialblack.otf");
  src: local("Right Grotesk Spatial Black"), local("rightgrotesk-spatialblack"),
    url("../assets/fonts/RightGrotesk/rightgrotesk-spatialblack.otf?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/RightGrotesk/rightgrotesk-spatialblack.otf")
      format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Right Grotesk Tight Medium";
  src: url("../assets/fonts/RightGrotesk/RightGrotesk-TightMedium.otf");
  src: local("Right Grotesk Tight Medium"), local("RightGrotesk-TightMedium"),
    url("../assets/fonts/RightGrotesk/RightGrotesk-TightMedium.otf?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/RightGrotesk/RightGrotesk-TightMedium.otf")
      format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Right Grotesk Wide Medium";
  src: local("Right Grotesk Wide Medium"), local("RightGrotesk-WideMedium"),
    url("../assets/fonts/RightGrotesk/RightGrotesk-WideMedium.otf?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/RightGrotesk/RightGrotesk-WideMedium.otf")
      format("opentype");
  font-weight: 900;
  font-style: normal;
}
