:root {
  /* Colors */
  --accent-color: #dc3b5a;
  --accent-color-opacity-scroll: rgba(220, 59, 90, 0.8);
  --primary-text-color: #ffffff;
  --secondary-text-color: #1e1e1e;
  --main-bg-color: #181818;
  --placeholder-color: rgba(255, 255, 255, 0.24);
  --mobile-menu-link-bg: rgba(255, 255, 255, 0.1);
  --discord-icon-color: #5a65f2;

  /* Sizes */
  --border-radius: 12px;
  --border-radius-btn: 8px;

  /* Other */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 350ms;
  --creeping-line-duration: 10000ms;
}
