.logoLink {
  display: block;
  width: 48px;
  height: 48px;
  padding: 8px 0;

  color: var(--secondary-text-color);

  transition: color var(--timing-function) var(--transition-duration);

  @media screen and (min-width: 1280px) {
    width: 72px;
    height: 80px;
    padding: 15px 0;
  }
}

.logoLink:hover {
  color: var(--primary-text-color);
}

.logoLink.mobileMenu {
  color: var(--primary-text-color);
}

.logoLink.mobileMenu:hover {
  color: var(--accent-color);
}

.logoIcon {
  width: 100%;
  height: 100%;
}
