.aboutTitle {
  font-family: 'Right Grotesk Compact Black';
  font-size: 40px;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    width: 269px;
    font-size: 60px;
  }

  @media screen and (min-width: 1280px) {
    width: 538px;
    font-size: 120px;
  }
}

.aboutTitleAccent {
  color: var(--accent-color);
}

.aboutTitleBlock,
.aboutImageBlock {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.aboutTitleBlock {
  @media screen and (max-width: 767px) {
    margin-bottom: 36px;
  }
}

.aboutImageBlock {
  @media screen and (min-width: 768px) {
    margin-top: -170px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: -380px;
  }
}

.aboutTextInTitleBlock {
  font-size: 16px;
  line-height: 1.18;
  text-align: right;

  @media screen and (min-width: 768px) {
    width: 275px;
    padding-top: 14px;
  }

  @media screen and (min-width: 1280px) {
    width: 409px;
    padding-top: 30px;

    font-size: 24px;
    line-height: 1.2;
  }
}

.aboutTextInImageBlock {
  font-size: 12px;
  line-height: 1.66;
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    width: 269px;
    align-self: last baseline;

    font-size: 16px;
    line-height: 1.19;
  }

  @media screen and (min-width: 1280px) {
    width: 417px;

    font-size: 24px;
    line-height: 1.2;
  }
}

.aboutImageBox {
  width: 216px;
  height: 292px;

  @media screen and (min-width: 768px) {
    width: 313px;
    height: 422px;
  }

  @media screen and (min-width: 1280px) {
    width: 492px;
    height: 662px;
  }
}

.aboutImage {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
