.inputBox {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  border-top-left-radius: var(--border-radius-btn);
  border-bottom-left-radius: var(--border-radius-btn);
  background-color: var(--secondary-text-color);

  @media screen and (min-width: 1280px) {
    width: 64px;
    height: 64px;
  }
}

.labelIcon {
  width: 24px;
  height: 24px;
}

.input {
  display: flex;
  align-items: center;
  flex: 1;
  height: 48px;
  padding-left: 24px;
  padding-right: 10px;

  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
  color: var(--primary-text-color);

  border: 1px solid rgb(30, 30, 30);
  border-top-right-radius: var(--border-radius-btn);
  border-bottom-right-radius: var(--border-radius-btn);
  background-color: transparent;

  transition: border var(--timing-function) var(--transition-duration);
  outline: none;

  @media screen and (min-width: 1280px) {
    height: 64px;

    font-size: 16px;
    line-height: 1.19;
  }
}

.inputError {
  color: var(--accent-color);

  border-color: var(--accent-color);
}

.input::placeholder {
  color: var(--placeholder-color);
  text-transform: uppercase;
}

.input:focus {
  border: 1px solid rgba(255, 255, 255, 1);
}
